.input-top {
  width: 60px;
  margin: 30px auto;
}


.middle {
  margin: 30px auto;
  width: 800px;
  text-align: center;
}

.middle .input-box {
  display: inline-block;
  width: 60px;
}

.middle .input-img {
  display: inline-block;
  width: 550px;
}

#bottom {
  width: 100px;
  margin: auto;
  margin-top: 20px;
}
/* #calculate {
  margin: auto;
} */
